@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --primary-color: #0d1333;
  --secondary-color: #dedede;
  --accent-color: #1c1c1c;
  --border-color: #2e2e2e;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
